.bg-main {
  background-color: #019267 !important;
}

.btn-main {
  background-color: #ffd365 !important;
  color: whitesmoke;
  border: #ffd365 !important;
}

.btn-main:hover {
  background-color: #fde199 !important;
}

.custom-search {
  width: 31.25rem;
  padding: 5px 0px 5px 25px;
  border-radius: 35px;
  border: 0;
}

.custom-search:focus {
  outline: none;
}

.icon-inside {
  position: relative;
}

.icon-inside i {
  position: absolute;
  left: 5px;
  top: 4px;
}
