.bg-main {
  background-color: #019267 !important;
}

.bg-secondary {
  background-color: #fdffa9 !important;
}
.border-main {
  border: 10px solid #019267;
  background-color: #ebecc1;
}

.card-color {
  background-color: #d6e8e3;
}

.pointer {
  cursor: pointer;
}

.button-main {
  background-color: #00c897;
  border: none;
  color: white;
  padding: 8px 12px 8px 12px;
  border-radius: 5px;
}

.button-main:hover {
  background-color: #2bd6ab;
}

.btn-main {
  background-color: #ffd365 !important;
  color: whitesmoke;
  border: #ffd365 !important;
}

.btn-main:hover {
  background-color: #fde199 !important;
}

.custom-search {
  width: 31.25rem;
  padding: 5px 0px 5px 25px;
  border-radius: 35px;
  border: 0;
}

.custom-search:focus {
  outline: none;
}

.icon-inside {
  position: relative;
}

.icon-inside i {
  position: absolute;
  left: 5px;
  top: 4px;
}
